#page { margin-bottom: 30px; display: block; }
p { margin: 0; }

.block { 
    max-width: 650px; 
    color: #fff; 
    margin: 0 0 40px 0;
}

.block > div:first-of-type > p:before { content: "• "; color: #e0005a; }
.block > div:first-of-type > i:before { content: "— "; }

.block > div:first-of-type > * {
    display: inline-block;
    color: #ffd166;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.block > div:last-of-type ul {
    margin: 0;
    padding: 0;
}
    .block > div:last-of-type ul li {
        font-size: 0.9em;
    }

.block > div:last-of-type h3 {
    margin: 12px 0 5px 0;
}
.block > div:last-of-type h4 {
    margin: -3px 0 10px 0;
    color: #e0005a;
}
.block > div:last-of-type p {
    margin: 0;
    font-size: 0.9em;
}