{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="block">
    <p>
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        <br />
        mQINBGO24psBEADtkShyN5R9lQPiYO2fyogCHxyuCGDnW0qcO0c0wqZnu7wZmLOt
        iGeOkvWQ5MldqFVeu2KMC21Nn0BoCYt3xfOLTdO+pZsnoV3pAXIjvd8cEa7xY0ZA
        Vu/193Fo6jqxSb2WrkyxurS6MXoZavdTlsP+qShb4+06gsUBK45ZIXZHP5dJ2DGG
        aP58sAPJBDr+SZlfUI843xiLOwyLF3NbBexycJKJapFAex4E9ID0O9FMgu8liQaS
        7w6ZpzxLstPhTbyP95oMKOg2NLWWPZOAD0BDx+2AKoIUVP2m1KebNIOqbz9YlH7U
        iZGINNpPTP/w9mkEkMpWYRXoh9KxI9dYt5xV0SZnqhtYjlK1uX97HYo6zwSKzK4q
        Ak9pZ7VkaBYRpHjLcy5TWWXskokl2lF/HOjGaO7b/VXVzTxx2T7fSGDlpL0eMfN2
        qO3kUU9ouQaaZN1nWyH5mo9J6w9705u96zg8LMDqe0NvGaGOwxa27Y/L4v3j/PzQ
        xqKiV8UIUyQgjVq3KwYYZ+QPIkmtRZf68f/M6UO07AedIe36zLkq170V/wRX7Vuu
        +zgsQCvMi1NLcc/zWO8Ruy3WdXpP0YUnuaD5inxcR6yRGhDpHcHpQji2ulev4XbL
        qPtkZwO9y68BJx8b2lTpo6/m1V0ICQmCC+Z9xs+0Ei9fuyF0rYaqhV/KFQARAQAB
        tDFFZnRoaW1pcyBDaGFyaXRvbmlkaXMgPGVmdGhpbWlzQGNoYXJpdG9uaWRpcy54
        eXo+iQJUBBMBCAA+FiEEN7raLpHgpcqZnEt8pqqaroZ5VGoFAmO24psCGwMFCQeG
        H2QFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQpqqaroZ5VGp7RA/9Eee/MPi+
        dikXQ/iHE9gKkZgthFvoi62m5jRN6/pNt9KZtkXJJQliILj+Kdb3jNl+ThUXx6eG
        mI/yGgSGKjee8EfBNefL/ZELtexVewa7F8pnnqHhFj36aavlOgkWKkY8JHfZXnKu
        IKsn9MBeuf1qSyVj6ZOCWWVEfTQ+sPrcL/6M8iwbToTkim5GkKe1y7QhXKcoXlmh
        YZq4EUuAzUGgDu0clLWA8EUp7580wUhOPTDScC+HcTB2H1AGSWehf0JlYb/90eEv
        jgvanbgtOpltUKa1hzyZeAC8owUS4ZT9YSkMg//hkFgSFOpkXuvSfHHwmVNPMIAs
        3QUqp7Qv1Jej3fJ80Aag8pGQPMQphRMfMWdBI/rWGaiudg5mz6zubdzzQgcEcKVw
        sSKiZBvPaqBqkwUz62Wnas9mNtJrs9Fi7eOL0j2+rg+QVCLByCfWoELDeiz/Pd2H
        81254JifvcPi8N5qBCWNvxd8Dq1z0/yC9NjrvxFXlnRR/MB0EH+gDwwI/nNg8ZD8
        5apihS8Poyl7tBCrza228kZbziAQl5ZkX1GcOwf8lUQFRuMX/f2NBrEgDYqnCQWq
        eN9O+WNLEmLf40roImilpUcz7/n5+cWW2zCq5LfL9nQzhYppCEaLHRJGbQYMuDGK
        Vn9zuuOxhkTQ3jG4lugtLz14UrnJYhsVBKS5Ag0EY7bimwEQAN8vxIR8hqbFFeOo
        CMesMtv69rGQA/DDUITwY+5vIIcx7ifXsnwNfPcpAS81yFkzAehjbMzhvw8KfoUH
        NeL/aj8gcu8rgN2wV4WBFUhqBal6FkPMgWnxg49cROOkhDJAprQ1VHO1NqtzvDOb
        pY0AR7zeYGjRrJCrnGZtRoQkaGRHFteUI53ZxHMQXYm7cnpwJjx+Kas0q9s/TE79
        M4M5jxLm5Z4Fda/Wa+ZzRGOHtKyIbCdt8RPLt2QmLgFbsJUvEfFA0mWzOuntOlEW
        EahpzCZQ85FYgeYDyTVn9dUZhMVDeiWglRrHH2d4NWm7hcniMdAErJaUaOp5sVOy
        AGMxuZvsf58QPpksY6ChUPZUUSHlskDiETjGl8D8RbIjidZaYj97ShEZTPHDdDhR
        Uc/cfdmI7ThxgooK2zuc7Xx2TXVdjhcStX2UUJMaahz3U0Lx2wvOVxH8nCxrZ67t
        iFDvlm+jZAfwXxmHAg9/4RtOfxLmHPvUABAooCPUYTfgs0NMN4DCseFGMN3ExtHI
        JSb1sSAw8w2nktw/dT8trrupzH7JZ8I9JiSxuLKF00gOKrFxQsHD6uf5n21bIVFa
        rVngisny8aG73wDVNL/QkaJH6Uz/awbHL/yv1NBNyU9kcDaPUU40y2QgahkFAI82
        /+ZBs+x3MgA1Os+Lj16eG4R+kFe7ABEBAAGJAjwEGAEIACYWIQQ3utoukeClypmc
        S3ymqpquhnlUagUCY7bimwIbDAUJB4YfZAAKCRCmqpquhnlUaj4tEADhjlJvK+PX
        ftHkFs828qSYHyMtbq7D0KjmyF0HksFXsqr7UOTnUY4y7RR8akDNuTLHIYJVSGQw
        kiuTpc6ExthOwmFzqxmfyecJl/j8r74ntc+19pwCco2oFUyrL6KHXXFXVLdWlmH9
        O4nCF8/TIo0IxFzKM4mrLJlYmqaxF9SHcSPqeRuZDxPM0irjDdu789HoA/ufIuSA
        RQ2zEiyDPPokGJt1iSK3DzVoZmycdx25mILa/XSM+91Ungnz2iyCW+IiDvwpJfY+
        DHsnFCKHCvkUm0ylf2qDxY1TtfVtR0PAxahOq8jUaXgqIdMjA+byty0UfeBG/g+i
        sze89fpY2/gFHHh0i6TlJr8ZVjyqHPZ1HiS7RQ2yMtfWfaNCNstzKvWyQxzmhVQO
        Wzs1COtV6p53tYyawPpA3zXAoPpMgOLIzmbw/znp72fbSQFSm/VEeVmkuFkqDhtL
        9Mnbk3eY4YuiEJ90jtAP568mduczHywaJPnxQdGdf3SvFHXo8P98973owsVzZtD0
        +oUoLmfB6S7dFogUoiBepOCk6ECUqJBg9g8qXcOJoAq7M4Y6bX5iFMo9JdMF35Hl
        2/TgyKcVQ+N89iYpoBWm5yYdjr53l4v1Nda/8pdc5UfOhizlDhWCFzmal1RgFsEU
        o/Hu1pAcrMYsPxR5m3K4AkdhfbSO8k8a4Q==
        =iNr8
        <br />
        -----END PGP PUBLIC KEY BLOCK-----
    </p>
</div>

{{ end }}