{{ define "main" }}

<h1>{{ .Title }}</h1>

<ul>
    <li>📝<a target="_blank" href="/docs/cv.pdf">download cv</a></li>
</ul>

<!-- EPSILON NET -->
<div class="block">
    <div>
        <p>Feb 2020 - Present</p>
        <i>3 years</i>
    </div>
    <div>
        <h3>EPSILON NET · Full-time</h3>
        <h4>Back-End & Front-End Engineer</h4>
        <ul>
            <li>Day to day collaboration with team members, weekly sprints, task discussion and knowledge share.</li>
            <li>Create Front-End Blazor UI components (paginated grid’s list’s which can be exported, form’s, graph statistics, custom views).</li>
            <li>Worked on background services for file import and hangfire jobs that run heavy tasks.</li>
            <li>Used Identity Server 4 for SSO, had to add multi-tenancy and other custom views e.g tenant subscriptions.</li>
            <li>Build complex invoice reports, subscriptions.</li>
            <li>Worked with NoSQL (MongoDB), MariaDB, Microsoft SQL Server.</li>
        </ul>
    </div>
</div>

<!-- GREKOMANIA -->
<div class="block">
    <div>
        <p>Dec 2019 - Jan 2020</p>
        <i>2 months</i>
    </div>
    <div>
        <h3>GREKOMANIA · Part-time</h3>
        <h4>Android developer (Voluntary work) - <a href="https://behance.net/gallery/88863471/Grekomania-mobile-concept/" target="_blank">Mobile concept</a></h4>
        
        <p>The role primary focus on redesigning and rewriting the app from scratch with simplicity in mind.</p>
        <ul>
            <li>I've used the Model–view–view model (MVVM) architectural pattern.</li>
            <li>Wrote Unit tests.</li>
            <li>Used Android Jetpack's latest libraries to bring idea's to life.</li>
        </ul>
    </div>
</div>

<!-- Designing UI's in Adobe XD -->
<div class="block">
    <div>
        <p>Dec 2019</p>
        <i>1 month</i>
    </div>
    <div>
        <h3>Designing UI's in Adobe XD</h3>
        <h4>XD challenge - <a href="https://behance.net/gallery/90276947/Perfumi/" target="_blank">Mobile concept</a></h4>
        <p>Inspired by the Adobe XD challenge to create an application UI template called Perfumi.</p>
    </div>
</div>

<!-- Ellinair -->
<div class="block">
    <div>
        <p>Mar 2017 - Aug 2019</p>
        <i>2 years 6 months</i>
    </div>
    <div>
        <h3>Ellinair · Full-time</h3>
        <h4>Full Stack Developer</h4>
        <p>
            Participated in meetings in order to transform company needs into proposed application designs.
            Wrote code based on specifications in order to build a public-facing web-based application as a Token Based Authentication, SSO.
        </p>
        <p>Tasks that were included:</p>
        <ul>
            <li>Creation of test suites in order to assess product functionality.</li>
            <li>Creation of a client administration front-end for the Identity Server 4.</li>
            <li>Worked on internal projects, covering the requirements of assigned requests of the company.</li>
            <li>Created a recruitment web application (Manage company's hiring process by organising vacancies and job applications).</li>
            <li>Created a front-end email web client using Microsoft Exchange Web Services (EWS).</li>
            <li>Used Asterisk Manager Interface to connect to an Asterisk instance AND track incoming / outgoing calls, create notes & issues on the fly for the call-center.</li>
            <li>Used LDAP queries for fetching internal data AND use it to create internal contacts, departments roles, authentication.</li>
        </ul>
        <p>We mainly used:</p>
        <ul>
            <li>The ELK stack for log aggregation, monitoring.</li>
            <li>AWS, docker for production deployment</li>
            <li>Created the mobile application (android, iOS) using React Native.</li>
            <li>Wrote a Chrome extension in jQuery, to automate a task in the web browser for the call-center.</li>
            <li>The stack .NET Framework 4.5+, .NET core 2.2, ReactJS, MSSQL, PostgreSQL and MySQL, SQLite.</li>
        </ul>
    </div>
</div>

<!-- Airport Rent a Car -->
<div class="block">
    <div>
        <p>Nov 2018 - Feb 2019</p>
        <i>4 months</i>
    </div>
    <div>
        <h3>Airport Rent a Car · Part-time</h3>
        <h4>Full Stack Developer</h4>
        <p>
            The project has been designed from scratch according to customer requirements and specifications.
            This included regularly meetings to come up with an infrastructure and understand what’s needed to be done.
        </p>
        
        <ul>
            <li>At first, I’ve created mock-up’s in photoshop and presented it to customer.</li>
            <li>Turned the designed mock-ups into real web layouts.</li>
            <li>Used Bootstrap 4 framework to structure the data and bring responsiveness along with other JS libraries like moment JS, jQuery.</li>
            <li>The back-end has been built and tested carefully. It runs asp.net framework 4.7, C# 7.1.</li>
            <li>For data warehousing I’ve used MySQL.</li>
            <li>Wrote an algorithm in C# which calculates the price based on selected date range session, including features like discounts, overtime fees.</li>
            <li>
                Created for the administrator a management dashboard so the client can operate
                <ol>
                    <li>Categorized cars with rich descriptions.</li>
                    <li>Calendar with booked reservations.</li>
                    <li>Manage user database.</li>
                    <li>Price description for each car (calculated by the custom algorithm based on date input).</li>
                </ol>
            </li>
        </ul>
    </div>
</div>

<!-- Tresor Sousouras Hotel -->
<div class="block">
    <div>
        <p>May 2017 - Jun 2017</p>
        <i>2 months</i>
    </div>
    <div>
        <h3>Tresor Sousouras Hotel · Part-time</h3>
        <h4>Full Stack Developer</h4>
        <p>
            The project has been designed from scratch according to customer requirements and specifications.
            This included regularly meetings to come up with an infrastructure and understand what’s needed to be done.
        </p>
        
        <ul>
            <li>At first, I’ve created mock-up’s in photoshop and presented it to customer.</li>
            <li>Turned the designed mock-ups into real web layouts.</li>
            <li>The web app had a presentational home page with contact us and dynamic gallery page. At some point the client wanted me to add an external booking widget of web hotelier.</li>
        </ul>
    </div>
</div>

<!-- Mouzenidis Travel -->
<div class="block">
    <div>
        <p>Sep 2013 - Mar 2017</p>
        <i>3 years 7 months</i>
    </div>
    <div>
        <h3>Mouzenidis Travel · Full-time</h3>
        <h4>Android Developer | Back-End Engineer | Front-End Engineer</h4>
        <p>
            As a junior Android Developer, I was assigned to work on the Grekomania Travel Guide and News application.
        </p>
        <p>My day-to-day tasks were:</p>

        <ul>
            <li>Discuss with the chief the application flow step by step, UI guidelines.</li>
            <li>Applied coding techniques, used best practices which has been issued by Google.</li>
            <li>The components were guided by the material design principles.</li>
            <li>Introduced UI layout’s, features that worked along with geolocation, fixing memory leaks and finding solutions to problems.</li>
            <li>I’ve applied the MVP pattern and used Java.</li>
            <li>
                Third party libraries used:<br/>
                Retrofit 2, Picasso, Dagger 2, Event Bus, Retrolambda, DBFlow, Firebase, SqlDelight, Volley, ButterKnife.
            </li>
        </ul>

        <p>
            As a junior C#, ASP.NET MVC Developer, I worked on both front-end and back-end task’s assigned by the chief.
        </p>
    </div>
</div>

<!-- Cargo Service & Representations -->
<div class="block">
    <div>
        <p>Dec 2016</p>
        <i>1 month</i>
    </div>
    <div>
        <h3>Cargo Service & Representations · Part-time</h3>
        <h4>Android Developer - <a href="https://behance.net/gallery/87540923/CSR/" target="_blank">Mobile concept</a></h4>
        <p>
            I was responsible for the development of the android application from the ground up. The app was designed in Adobe Photoshop and afterwards written in Java.
        </p>
        <p>This multilanguage application is divided into 5 sections:</p>
        <ul>
            <li>Services (info about the services the company provides).</li>
            <li>Offers (displays info about the Monthly parking card).</li>
            <li>Pricing (time table with price for parking’s P4, P6, P7).</li>
            <li>Map (information along with directions for the parking spot).</li>
        </ul>
        <p>
            There's also a calculator which displays the total price based on selected criteria like date time (duration) and airport parking spot.
        </p>
    </div>
</div>

{{ end }}