{{ define "main" }}

<h1>Welcome to my website! </h1>

<ul>
    <li>sourcehut: <a target="_blank" href="https://sr.ht/~echa/">sr.ht/~echa</a></li>
    <li>github: <a target="_blank" href="https://github.com/echaritonidis/">github.com/echaritonidis</a></li>
    <li>behance: <a target="_blank" href="https://www.behance.net/echaritonidis/">behance.net/echaritonidis</a></li>
    <li>matrix: <a target="_blank" href="https://matrix.to/#/@echa10:matrix.org">@echa10:matrix.org</a></li>
</ul>

<div class="block">

    <p>Hi 👋, I’m Efthimis and I’m a .NET Developer based in Thessaloniki,</p>
    <p>I currently work full time as a Front-End & Back-End Engineer 🛠️.</p>
    <p>In my free time I like to get my hands dirty with Raspberry Pi, explore new projects and libraries on Github, sharp my skills by reading tech and keeping up with programming trends and more.</p>
    <p>I’m a arch linux guy ❤️ but I mostly use a 💻 mac book pro to do my bidding and other times my 💻 dell inspiron 15 3000.</p>
    <p>With that said, when possible, I prefer FOSS over proprietary as I support the principles of the open source for many reasons.</p>
    <p>In this website you will find links to my email (PGP in case you want to send me confidentially) along with my CV and some other.</p>

</div>

{{ end }}